__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.ipynb_checkpoints
# Virtual environments
venv/
env/
.venv/
ENV/
# Data files
data/filtered_complaints.csv
data/complaints.csv
data/raw/
data/*.csv
/vector_store
